@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap");
html,
body {
  background-color: #c96462;
  font-family: "Sarabun", sans-serif;
  color: #fff;
  font-size: 18px;
}
label {
}
