html,
body {
    margin: 0;
    font-family: 'K2D', sans-serif;
    background-image: url("../assets/thx.jpg");
    background-position: center;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    color: #AC3520;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
}

#container {
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}