html,
body {
    margin: 0;
    font-family: 'K2D', sans-serif;
}

#header {
    background-color: #AC3520;
    width: 100%;
}

#pictureUrl {
    width: 100px;
    border-radius: 100px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header_img {
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
}