html,
body {
    margin: 0;
    font-family: 'K2D', sans-serif;
}

#header {
    display: grid;
    justify-content: center;
    background-color: #AC3520;
    height: 180px;
    width: 100%;
    position: relative;
    background-image: url("../assets/header_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#liff_name {
    border-radius: 50px;
    margin-top: 10px;
    font-size: 1em;
    background: #fff;
    padding: 8px 20px;
}

#pictureUrl {
    width: 100px;
    border-radius: 100px;
    margin: 10px;
}


#header_content {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_img {
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
    height: 180px;
}

#form {
    display: grid;
}

input {
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 70%;
    box-shadow: 1px 2px 5px rgb(199, 199, 199);
}

select {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 40%;
    background-color: rgb(228, 228, 228);
    box-shadow: 1px 2px 5px rgb(199, 199, 199);
}